footer.footer 
    .footer-top-main
        .container
            .footer-main-line
                .footer-logo
                    img(src="img/logo.png", alt="")
                .footer-soc
                    ul 
                        li.spritef.spritef-f 
                            a(href="#")  
                        li.spritef.spritef-i 
                            a(href="#")  
                        li.spritef.spritef-y 
                            a(href="#")  
                .footer-tells
                    ul 
                        li
                            .spritec.spritec-tel
                            .tels
                                a(href="tel:38(097)3333333") +38 (097) 333-33-33 
                                a(href="tel:38(093)3333333") +38 (093) 333-33-33
                        li 
                            a(href="#").btn Обратный звонок
    .footer-bot-main
        .container
            .bot-main
                p Natural Adjuster © 2018
                p Разработка и дизайн - Dream-Line


.bPopup-tube-wrapper
    #h-v
        iframe#video(src='', allowfullscreen='', frameborder='0')(data-video="668nUCeBHyY")
