section.scroll-s.resource#about
    .container
        .resource-wrapper   
            .res-img
                img(src="img/logo-big.jpg", alt="")
            .res-dscr
                h2.title-r
                    | «Ключевой ресурс»
                p.subtitle-r.
                    Мы активно работаем над созданием уникальных в своем роде продуктов. 
                    «Ключевой <br> ресурс» работает над приборами восстановления 
                    жизненных функций нашего организма. <br>
                    Исследуя природу мы открываем новые возможности. <br>
                    Окунись в природные технологии! <br>
section.scroll-s.product#product
    .container
        .product-wrapper
            h2.title-p.
                Капсула NATURAL ADJUSTER – это природные технологии, примененные в практике:
            .prod-info
                .prod-img   
                    img(src="img/robot.png", alt="")
                .prod-items
                    ul.prod-list
                        li.prod-item восстановления жизненных сил <br> организма
                        li.prod-item гармонизация психического <br> остояния организма
                        li.prod-item восстановления функций <br> организма
                        li.prod-item ускорение реабилитации после <br> травм, операций
                        li.prod-item укрепления иммунной системы
            .prod-dscr
                p.
                    Капсула «Natural Adjuster» – уникальный, не имеющий аналогов продукт. 
                    Принцип его работы относится к новым информационнымтехнологиям. 
                    Дизайн капсулы «Natural Adjuster» следует природным законам 
                    симметрии и гармонии. В основе действия продукта лежит биологический 
                    резонанс организма с элементами правильной геометрической формы, 
                    которыми покрыта внутренняя поверхность
                    капсулы. Действие прибора осуществляется бесконтактно. Капсула создана 
                    как гармонизирующий и восстанавливающий прибор. Вы 
                p.
                    Капсула «Natural Adjuster» – уникальный, не имеющий аналогов продукт. 
                    Принцип его работы относится к новым информационным технологиям. 
                    как гармонизирующий и восстанавливающий прибор. Вы
    .read-more-wrap
        .container
            .read-more
                a(href="#") Читать полностью
            .hide-more.dn
                a(href="#") Скрыть
section.scroll-s.service#service
    .service1
        .container
            .service-wrapper
                p.s-title В зависимости от состояния вашего организма, для восстановления жизненного потенциала вам назначается курс, состоящий из нескольких <br> сеансов. Перед началом сеанса вы пройдете собеседование о правилах пользования капсулой, а также мы индивидуально подберем необходимый <br> для вас пакет услуг. Он включает в себя: курс, который вы выбрали, бесплатную консультацию, литературу, консультативное сопровождение.
                p.i-title Mы предлагаем вам такие пакеты:
                .service-items
                    .serv-item
                        .simg   
                            img(src="img/si1.png", alt="")
                            .simg-txt-wrap
                                .simg-txt
                                    p курс
                                    span Оptimal
                        .sdscr
                            p 9 сеансов, 40 мин
                            span 6 300 грн
                    .serv-item
                        .simg   
                            img(src="img/si2.png", alt="")
                            .simg-txt-wrap
                                .simg-txt
                                    p курс
                                    span Energy
                        .sdscr
                            p 12 сеансов, 40 мин
                            span 7 600 грн
                    .serv-item
                        .simg   
                            img(src="img/si3.png", alt="")
                            .simg-txt-wrap
                                .simg-txt
                                    p курс
                                    span Discharge
                        .sdscr
                            p 21 сеанс, 40 мин
                            span 12 700 грн
                .serv-footer
                    p.pf1 Также вам предоставляется первый ознакомительный сеанс – 
                        span БЕСПЛАТНО!
                    p.pf2 Побочного эффекта капсула «Natural Adjuster» не имеет. Данное устройство полностью безопасно в эксплуатации.
    .service2
        .container
            .service2-wrapper
                .s2-img
                    img(src="img/s2.png", alt="")
                .s2-txt
                    p 7 дней курорта за 
                        span 30 минут!
                    a(href="#").btn Подробнее


    .service3
        .container
            .service3-wrapper
                .form-txt-wrap
                    h2.title-f Обратный звонок
                    p.title-txt.
                        Заполните форму и мы свяжемся с вами <br> в ближайшее время
                .form-wrapper
                    form(action="/")
                        .form-group
                            label.form-label(for='name') Имя
                            input#name.j_input.form-input(type='text')
                        .form-group
                            label.form-label(for='tel') Телефон
                            input#tel.j_input.form-input(type='text')
                        .form-control
                            button(type="submit").btn Отправить
    .header
        .container
            .header__intro-wrapper
                .intro-text
                    h1.title-h1 NATURAL ADJUSTER
                    p.subtitle-h1.
                        продукт современной информационно-волновой технологии <br>
                        восстановления организма. <br>
                        Почувствуй силу природы в уникальной капсуле!
                .play-button
                    img.ply-img(src="img/play.png", alt="")(data-video="B7bqAsxee4I")
                .scroll-down(data-scrl="#feedbacks")
                    img.scrl-img(src="img/arrow-down.png", alt="")
                .company-prod
                    img(src="../img/logo2.png", alt="")
                    p Продукт компании «Ключевой ресурс»
section.scroll-s.feedbacks#feedbacks
    .container
        .feedbacks-wrapper
            .feedback-slider
                .slider-container
                    .slider-item
                        .sl-img
                            img(src="img/slide.png", alt="")
                        .sl-title
                            p Тина Кароль
                        .sl-dscr
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    .slider-item
                        .sl-img
                            img(src="img/slide.png", alt="")
                        .sl-title
                            p Тина Кароль
                        .sl-dscr
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    .slider-item
                        .sl-img
                            img(src="img/slide.png", alt="")
                        .sl-title
                            p Тина Кароль
                        .sl-dscr
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    .slider-item
                        .sl-img
                            img(src="img/slide.png", alt="")
                        .sl-title
                            p Тина Кароль
                        .sl-dscr
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
section.scroll-s.contacts#contacts
    .container
        .contacts-wrapper
            .contacts-form-wrap
                .cont-txt
                    p Подписка на рассылку
                .cont-form
                    form(action="/")
                        .form-group
                            label.form-label(for='name2') Имя
                            input#name2.j_inputt.form-input(type='text')
                        .form-group
                            label.form-label(for='tel2') Телефон
                            input#tel2.j_inputt.form-input(type='text')
                        .form-control
                            button(type="submit").btn Подписаться

            .contacts-map
                #map_canvas
                .map-info
                    ul 
                        li
                            .spritec.spritec-marker 
                            p г. Киев, ул. Н. Оводова 38, 
                        li
                            .spritec.spritec-time.
                            p.
                                График работы: Пн - Пт 10:00 - 19:00 <br>
                                Сб 10:00 - 17:00 , Вс - выходной
                        li
                            .spritec.spritec-tel
                            .tels
                                a(href="tel:38(097)3333333") +38 (097) 333-33-33 
                                a(href="tel:38(093)3333333") +38 (093) 333-33-33
                        
